<div class="row">
    <!-- <div class="col-12" > -->
        <div class="card bg-img">
            <div class="card-body">
                <div class="row per-wrapper">
                    <div class="col-12 align-center">
                        <div class="row">
                            <div class="mb-3">
                                <img width="250" src="/assets/images/login.png" id="icon" alt="User Icon" />
                            </div>
                        </div>
                        <form>
                            <div class="from-label col-sm-6 align-self-center">
                                <label for="exampleInputEmail1" class="form-label">Email o usuario</label>
                                <input (keyup)="validUser()" [(ngModel)]="userData.user" type="email">
                                <label class="tx-red" *ngIf="user==1">Debe tener mínimo 4 caracteres</label>
                                <label class="tx-red" *ngIf="user==2">No puede contener espacios en blanco </label>
                            </div>
                            <div class="from-label col-sm-8 align-self-center">
                                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                                <label class="tx-red" *ngIf="passwrd==1">Escribe mínimo 5 caracteres</label>
                                <label class="tx-red" *ngIf="passwrd==2">Debe especificar contraseña </label>
                            </div>
                        </form>
                        <div class="col-12 text-center pa-t-10">
                            <button (click)="login()" class="btn btn-success">
                                Ingresar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>