.pa-t-10{
    padding: 10px;
}

.per-wrapper{
    height: 100%;
    position: absolute;
}

.card{
    width: 25%;
    height: 67%;
    margin-left: 40%;
    margin-top: 7%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    border-color: rgb(252, 252, 252);
}

.card-body{
    margin-top: 2%;
    margin-left: 13%;
}

