<div class="card">
    <div class="card-body">
        <div class="row per-wrapper">
            <div class="col-12 align-center">
                <div class="row">
                    <div class="mb-3">
                        <img width="250" src="/assets/images/login.png" id="icon" alt="User Icon" />
                    </div>
                </div>
                <form>
                    <div>
                        <label for="exampleInputEmail1" class="form-label">Email or username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </form>
                <div class="col-12 text-center pa-t-10">
                    <button (click)="login()" class="btn btn-success">
                        Log In
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>